<VirtualHost *:80>
    # Sätter namn på den aktuella webserverns IP-addres.
    ServerName {{ ansible_host }}

    # Skapar en isolerad process för Flaskappen med 5 trådar.
    # Detta är utmärkt för både prestanda och stabilitet för Webbserverarna.
    WSGIDaemonProcess chattapp user=www-data threads=5

    # Skickar all trafik från root (/) till vår WSGI filen.
    WSGIScriptAlias / /var/www/chatt/app.wsgi


    # Ett block med regler och rättigheter för mappen som koden ligger i.
    <Directory /var/www/chatt>
        WSGIProcessGroup chattapp
        WSGIApplicationGroup %{global}
        Require all granted
    </Directory>

    # En säkerhets regel som endast tillåt inkommande trafik från lastbalanseraren.
    # All annan trafik mot Webbserverns IP blockeras.
    <Location />
        Require ip {{ hostvars['lb']['ansible_host'] }}
    </Location>


    # Berättar vart Appache ska spara sina error och access loggar.
    ErrorLog    ${APACHE_LOG_DIR}/error.log
    CustomLog   ${APACHE_LOG_DIR}/access.log combined

</VirtualHost>