<VirtualHost *:80>
    {# Hämtar den aktuella webserverns IPv4-adress. #}
    ServerName {{ ansible_host }}

    {# skapar en process för Python appen #}
    WSGIDaemonProcess chattapp user=www-data threads=5

    {# skickar all trafik från root till vår WSGI fil #}
    WSGIScriptAlias / /var/www/chatt/app.wsgi


    {# Ett block med regler för mappen /var/www/chatt #}
    <Directory /var/www/chatt>
        WSGIProcessGroup chattapp
        WSGIApplicationGroup %{global}
        Require all granted
    </Directory>

    {# Tillåt bara trafik från lastbalanseraren till Apache2 #}
    <Location />
        Require ip {{ hostvars['lb']['ansible_host'] }}
    </Location>


    {# Talar om vart Apache ska spara sina loggfiler. #}
    ErrorLog    ${APACHE_LOG_DIR}/error.log
    CustomLog   ${APACHE_LOG_DIR}/access.log combined

</VirtualHost>